@charset "utf-8";
/* CSS Document */


.owl-carousel .owl-dots {
    text-align: right;
}
.owl-carousel .owl-dots .owl-dot{
float:none;
}
.module-rss .mdate.before {
    margin-left: 15px;
}
.module-rss .mdate:before {
    content: "活動日期：";
}
.module-rss .v-td .d-txt {
    display: flex;
    flex-direction: column-reverse;
}
header.mt.mt-subhead {
background: #D1A43F;
    display: block;
    padding: 10px 0 20px;
    font-size: 1.8rem;
    margin: 0;
}
.module-rss header.mt.mt-subhead {
    background: #374C8F;
}
.mt-subhead > * {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    line-height: 15px;
}
.dropdown-toggle:focus {
    outline: 5px auto -webkit-focus-ring-color;
}
.d-title .d-txt > h5 {
    position: relative;
    z-index: 2;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.row_1 div.col_02 .module-special .d-title h5 {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.module .d-title .d-txt h5, .module-special .d-title .d-txt h5 {
    display: block;
}

.d-txt > h5 {
    font-size: 1.0em;
    line-height: 1.5em;
    /*text-align: center;*/
}
.row_0 .module-special h5 {
    padding-left: 16px;
    position: relative;
    text-align: left;
}

.page_mobilehome .row_1 div.col_03 .module-special {
    padding: .2em 2.5em .5em;
    background: url(/var/file/0/1000/mobilestyle/485/images/mo_bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 1.2em;
}

//NEW
.more {}

.row_0 .module-special .mb .more {
    position: relative;
    top: 0px;
    right: 0;
    z-index: 999;
}


.minner .mt .mt-title {
    background: #374C8F;
}
.mouter .mt .mt-title {
    background: #D1A43F;
}
.M18925 .md_style99 .minner .mt .mt-title {
    background: #a12a46;
}
.row_0 .col_02 {
    width: 65%;
    background: #6b679f30;
}


.mtitle {
    position: relative;
    z-index: 2;
    padding: 5px;
    border-bottom: 1px solid #d6d6d6;
}
.M18918  .module .minner .mb {//最新消息 背景色 灰
    padding-top: 1em;
    background-color: #eaeae6;
}
.M18922  .module .minner .mb {
    padding-top: 1em;
    background-color: #eaeae6;
}


.row_0 {     
    background: url(https://cc.nkust.edu.tw/var/file/25/1025/img/412/2022-01-20_102942.png);
}
.row_1 {     
    background: url(https://cc.nkust.edu.tw/var/file/25/1025/img/412/2022-01-20_102942.png);
}
.row_0 .container {
background: #fff;
    box-shadow: 0px 0 10px 0px rgb(0 0 0/ 40%);
    border-bottom: 4px solid #314589; 

}

.row_0 .module-special .mtitle {
    padding-left: 16px;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
}
.mdetail {
    text-align: left;
    line-height: 26px;
    margin-top: 0.5em;
    font-size: 1.0em;
}
.mt .mt-title {
    font-size: 1.3em;
    color: #eee;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}
	
	
	
.topnav1 {
	
	display: flex;
	position: absolute;
	right: 350px;
}
.topnav1 li{
	display: flex;
	color: #fff;
}
.topnav1 li a{
	color: #fff;
	margin: 0 4px;
	text-decoration: none;
}

.top_first {
	position: relative;
	background: #986B09;
	width: 110%;
	height: 40px;
	top: -20px;
	left: -85px;
}

.top_second {
	display: flex;
	padding: 0 250px;
}


	
	
@media screen  and (max-width: 1200px){
.mt .mt-title {
    font-size: 1.1em;
    color: #eee;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    line-height: 20px;
}
}

@media (min-width: 768px){
.navbar-nav {
    justify-items: center;
    padding-left: 20%;
    float: left;
    margin: 0;
}
}
.msearch {
	margin-left: 650px;
	margin-top: 50px;
}

.topnav2 {
	display: flex;
	flex-direction: row;
	position: relative;
	left: 55%;
	font-weight: 600;
	font-size: 11pt;
}
.topnav2 li{
	list-style: none;
}
.topnav2 li a{
	text-decoration: none;
	color: #000000;
	padding: 2px;
	
}

.banner {
	background: 
}
